/*
=====================================================================
Podcast Hero banner
=====================================================================
*/
@import 'src/less/global/base_buttons.less';
.podcast-socialshare {
    background: linear-gradient(144deg, #0700b8 0%, #00ff88 100%);
    width: 100%;
    padding: 60px;
    color: #fff;
    text-align: center;
    font-family: "Roboto";
    .max-width-mixin(@mobile; {
        padding: 60px 30px;

        });
    &-container {
        max-width: 1240px;
        margin: 0 auto;
        h2 {
            margin-bottom: 60px;
        }
        ul {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: 30px;
            max-width: 800px;
            margin: 0 auto;
            .max-width-mixin(@tablet; {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-row-gap: 60px;
            });
            li a {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                svg {
                    margin-bottom: 20px;
                }
            }
        }
    }

}